#home, #about, #portfolio, #contact {
  height: 1000px;
}

.title {
  font-family: Martel, serif;
}

.panelHome {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #eee;
  height: 200px;
  box-shadow: 0px 2px 5px black;
}

.panelAbout {
  background-color: #fb3;
  margin-top: 20%;
  padding: 10px;
  box-shadow: 0px 2px 5px black;
  border-radius: 5px;
}

.panelPortfolio {
  margin-top: 10%;
  background-color: #222;
  height: 150px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px white;
}

.panelContact {
  margin-top: 5%;
}

#nav-bar, #footer {
  background-color: #C9EDFF;
  box-shadow: 0px 0px 50px black;
  font-family: 'Patua One', cursive;
  font-size: 20px;
  h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
  }
  p {
    margin-top: 5%;
    margin-left: 5%;
  }
  #left {
    float: left;
  }
  ul {
    float: right;
    padding: 5%;
  }
}

.navbar-nav > li > a {
  padding-top:5px !important; 
  padding-bottom:5px !important;
}
.navbar {
  min-height: 5px !important;
}

#home, #text, #portfolio {
  text-align: center;
}



#image, {
  img {
    border-radius: 100%;
    box-shadow: 2px 3px 10px black;
    margin-top: 50%
  }
}

table {
  img {
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

#home {
  background-image: url("http://i1104.photobucket.com/albums/h322/Isaias_Pomales/portfolio/IMG_6115_zpsszytnsst.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #222;
  height: 1000px;
  
  h1, h2 {
    font-family: 'Playfair Display', serif;
  }
}

#about {
  background-image: url("http://i1104.photobucket.com/albums/h322/Isaias_Pomales/portfolio/a%20mess%20568_zpsszmdwvnk.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #555;
  height: 1000px;
  
  h1, h2 {
    font-family: 'Playfair Display', serif;
  }
}

#portfolio {
  background-image: url("http://i1104.photobucket.com/albums/h322/Isaias_Pomales/portfolio/IMG_6123_zps8iosx4mw.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ddd
  
  height: 1000px;
  
  h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #ddd;
  }
  table {
    background-color: #222;
    box-shadow: 0px 0px 10px white;
    border: 1px solid white;
    td {
      padding: 5px;
    }
  }
}

iframe {
  height: 150px;
  width: 200px;
}

#contact {
  background-image: url("http://i1104.photobucket.com/albums/h322/Isaias_Pomales/portfolio/IMG_6433_zps6rhaf9vl.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #C9EDFF;
  div {
    padding-top: 10%;
  }
  h1 {
    font-family: 'Playfair Display', serif;
  }
  height: 1000px;
}
